$y-page-width-xs: 100% !default;
$y-page-width-sm: 600px !default;
$y-page-width-md: 1024px !default;
$y-page-width-lg: 1024px !default;
$y-page-width-xl: 1024px !default;

$y-page-background: #fff !default;
