@import 'colors';
@import 'mixins/quasar-classes';
@import 'components/y-page';
@import 'components/y-nav-bar';


$primary: $blue-8 !default;
$secondary: #26a69a !default;
$accent: #9c27b0 !default;
$dark: #1d1d1d !default;
$positive: #21ba45 !default;
$negative: #c10015 !default;
$info: #31ccec !default;
$warning: #f2c037 !default;


$breakpoint-xs: 600px !default;
$breakpoint-sm: 1024px !default;
$breakpoint-md: 1440px !default;
$breakpoint-lg: 1920px !default;


$opacity-disabled: 0.6 !default;


@import '~quasar/src/css/variables';
