// reset button style
button {
   padding: 0;
   border: none;

   background-color: transparent;

   font: inherit;
   color: inherit;

   cursor: pointer;
}


// reset anchor style
a,
a:link,
a:visited,
a:hover,
a:active {
   color: inherit;
   text-decoration: inherit;
   font-weight: inherit;
}
