$newPaddingTop: 8px;
$newTop: 10px;
$newHeight: 56px - (24px - $newPaddingTop);


/**
 * For text field
 */

// remove empty space
.q-field .q-field__native {
   padding: $newPaddingTop 0;

   // make it look like a placeholder
   &::placeholder {
      color: $grey-5;
   }
}

// remove space from prefix
.q-field .q-field__prefix {
   padding: $newPaddingTop 5px $newPaddingTop 0;
   color: $grey-6;
}

// remove empty space
.q-field__marginal,
.q-field__control {
   height: $newHeight;
}

// place the label over the input border
.q-field__label {
   top: $newTop;
   left: -6px;
   z-index: 2;

   width: fit-content;
   padding: 3px 8px;

   color: #555;

   background-color: inherit;
   border-radius: 3px 3px 0 0;

   &:empty {
      padding: 0;
   }
}

// make sure the label has the right background
.q-field--outlined,
.q-field__inner,
.q-field__control,
.q-field__control-container {
   background-color: inherit;
}

// place the label on top of border, even when animating
.q-field--float .q-field__label {
   transform: translateY(calc(-40% - #{$newTop})) scale(0.75);
}

// always show the border
.q-field--outlined .q-field__control:before,
.q-field--outlined .q-field__control:after {
   z-index: 1;
}

// make the icon on right align correctly
.q-field .q-field__append {
   padding: 0 6px;
}

// when disabled, let the label background opaque
.q-field--disabled .q-field__control > div {
   opacity: 1 !important;
}
.q-field--disabled .q-field__control:before,
.q-field--disabled .q-placeholder {
   opacity: 0.6 !important;
}
.q-field--disabled .q-field__label {
   color: rgba(85, 85, 85, 0.6);
}





/**
 * For textarea field
 */

// make the icon on right align correctly
.q-textarea .q-field__append {
   padding: 0 6px;
}

// make textarea look nice
.q-textarea.q-field--labeled .q-field__control-container {
   padding-top: 8px;
   padding-bottom: 0;
}
.q-field--outlined .q-field__control {
   padding-right: 0;
}
.q-textarea.q-field--labeled .q-field__native {
   padding-right: 12px;
   padding-bottom: 6px;
}
.q-textarea.q-field--error .q-field__native {
   padding-right: 36px;
}
// place the icon before the scrollbar
.q-textarea .q-field__append {
   position: absolute;
   right: 0;
}
