$newPaddingTop: 8px;
$newTop: 10px;
$newHeight: 56px - (24px - $newPaddingTop);


// remove empty space left by old label
.q-select.q-field--labeled .q-field__control-container {
   padding: $newPaddingTop 0 $newPaddingTop / 2;
}

// remove empty space
.q-select .q-item,
.q-select .q-field__marginal,
.q-select.q-field--auto-height .q-field__control,
.q-select:not(.q-field--labeled) .q-field__native {
   min-height: $newHeight;
}
.q-select.q-field--labeled .q-field__native {
   padding-bottom: 0;
}

// when disabled, affect textarea, but not label
.q-select.q-field--disabled .q-field__native {
   opacity: 0.6 !important;
}

// make the icon on right align correctly
.q-select.q-field .q-field__append {
   padding: 0 4px;
}
.q-select.q-field .q-field__append + .q-field__append {
   padding-left: 0;
}
