/**
 * Form input
 */

.y-base-input {
   position: relative;
   display: block;

   .y-base-input__label {
      display: inline-block;
      padding-bottom: 3px;
      padding-left: 1px;
      @include text-body1;
   }

   .y-base-input__control-box {
      display: block;
      flex: 1;

      .y-base-input__bottom {
         display: flex;
         padding: 8px 10px 0;
         color: $grey-6;
         @include text-caption;

         .y-base-input__bottom-left {
            flex: 1;

            .y-base-input__error {
               position: absolute;
               bottom: 10px;
               opacity: 0;
               transition: bottom 0.3s, opacity 0.3s;
               transition-timing-function: ease-out;

               &.is-visible {
                  position: relative;
                  bottom: 0;
                  opacity: 1;
               }

               .y-base-input__error-icon {
                  vertical-align: text-bottom;
               }
            }
         }

         .y-base-input__bottom-right {
            padding-left: 10px;
         }
      }
   }

   .y-base-input__fieldset {
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.24);
      padding: 1px 2px;
      border-radius: 4px;
      transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 1);

      .y-base-input__fieldset-label {
         position: absolute;
         top: 0;
         left: 6px;
         transform: translateY(-50%) scale(0.75);
         transform-origin: 0 50%;
         padding: 3px 8px;
         border-radius: 3px 3px 0 0;
         color: #555;

         @include text-subtitle1;
      }

      &.is-readonly {
         border-style: dashed;

         &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
         }
      }

      &.has-label {
         padding-top: 10px;
      }
   }


   &.has-error {
      color: $negative;

      .y-base-input__fieldset-label {
         color: $negative;
      }

      .y-base-input__fieldset:before {
         content: '';
         position: absolute;
         top: -1px;
         left: -1px;

         width: calc(100% + 2px);
         height: calc(100% + 2px);
         border: 2px solid $negative;

         border-radius: 4px;

         pointer-events: none;
      }

      .y-base-input__bottom {
         position: relative;
         box-sizing: border-box;
         height: 8px + 16px;
         line-height: 16px;
         color: $negative;
      }
   }


   &.has-side-label {
      display: flex;
      width: 100%;

      .y-base-input__label {
         width: 50%;
         padding-top: 8px;
      }
   }


   &.is-disabled {
      .y-base-input__label,
      .y-base-input__bottom {
         opacity: $opacity-disabled;
      }

      .y-base-input__fieldset {
         border-color: rgba(0, 0, 0, 0.24 * $opacity-disabled);
      }

      .y-base-input__fieldset:before {
         opacity: 0.3;
      }

      .y-base-input__fieldset-label {
         color: rgba(85, 85, 85, $opacity-disabled);
      }
   }

   &:not(.is-disabled) .y-base-input__fieldset:hover {
      border-color: #000;
   }


   .y-form & {
      margin-bottom: 20px;

      &.is-mini,
      &.has-side-label {
         margin-bottom: 16px;
      }

      &.y-checkbox:not(.has-side-label) {
         margin-bottom: 0;
      }
   }
}





/*
 * Form slider
 */

$paddingSide: 12px;

.y-base-slider {
   .y-base-input__fieldset.y-base-input__fieldset {
      padding: 30px $paddingSide 0;
   }

   .y-slider__min-max {
      position: absolute;
      top: 15px;
      left: $paddingSide;
      right: $paddingSide;
      color: $grey-7;

      .y-slider__min {
         float: left;
      }

      .y-slider__max {
         float: right;
      }
   }

   &.is-disabled {
      .y-slider__min,
      .y-slider__max {
         opacity: $opacity-disabled;
      }
   }
}





/**
 * Form slider
 */

.y-base-select {
   .y-base-select__icon {
      transition: 0.3s ease;
   }

   &.is-menu-active .y-base-select__icon {
      transform: rotate(180deg);
   }
}
